body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-decoration: none;
}

/*headeren */
nav{
    height: 10vh;
    background: #fff;
    width: 96vw;
    position: absolute;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
} 

.logo{
    padding: 40px;
}
.logo img{
    width: 40px;
}

.nav-links{
    display: flex;
}

.nav-links li{
    list-style: none;
    padding: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    cursor: pointer;
} 

/*første sektion*/ 

section{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.eyecatch{
    display: flex;
} 

.content{
    width: 25%;
    height: 100vh;
    background: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content h1, .content h5{
    padding: 0;
    margin: 5px;
}

.content h5{
    opacity: 0.9;
}

.homebtn{
    padding: 10px 20px;
    margin-top: 12px;
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

.profileimage{
    width: 75%;
    height: 100vh;
}
.profileimage img{
    width: 100%;
    filter: contrast(1.3);
    
}