body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-decoration: none;
}

nav{
    height: 10vh;
    background: #fff;
    width: 96vw;
    position: absolute;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
} 

.logo{
    padding: 40px;
}
.logo img{
    width: 40px;
}

.nav-links{
    display: flex;
}

.nav-items{
    list-style: none;
    padding: 0 20px;
    font-size: 12px;
    cursor: pointer;
}