body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-decoration: none;
    background-color: #F2EDE8;
}



/*headeren */
nav{
    height: 10vh;
    background-color: #F2EDE8;
    width: 96vw;
    position: absolute;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
} 

.logo{
    padding: 40px;
}
.logo img{
    width: 60px;
    
}

.nav-links{
    display: flex;
}

.nav-items{
    list-style: none;
    padding: 0 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    cursor: pointer;
} 

/*første sektion*/ 

section{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.eyecatch{
    display: flex;
    background:#F2EDE8
} 

.content{
    width: 25%;
    height: 100vh;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content h1, .content h5{
    padding: 0;
    margin: 5px;
}

.content h5{
    opacity: 0.9;
}

.homebtn{
    padding: 10px 20px;
    margin-top: 12px;
    width: 30%;
    border: 3px solid #ccc;
    border-radius: 4px;
    text-align: center;
}
.homebtn a{
    text-decoration:none;
    color: #000;
    font-size: 14px;
    font-weight: 600;
}

.profileimage{
    width: 75%;
    height: 100vh;
}
.profileimage img{
    width: 100%;
    filter: contrast(1.3);
}

/*anden sektion med billedergalleri*/

.container{
    padding: 1% 1% 0% 1%;
}

.container:after{
    content: "";
    display: inline-block;
    width: 100%;
}

article{
    padding: 0;
    margin: 0;
}

.container .box{
    width: 20%;
    padding-bottom: 18%;
}

.box{
   width: 96%;
   margin: 2% 3%;
   padding-bottom: 96%;
   height: 0;
   position: relative;
   float: left;
   cursor: pointer;
   overflow: hidden;
   border-radius: 5px; 
}

.box:after{
    content: "";
    position: absolute;
    background-color: #000;
    opacity: 0;
    z-index: 55;
    width: 100%;
    height: 100%;
    transition: all 0.15s ease-out;
}

.box:hover:after{
    background-color: #000;
    opacity: 0.2;
}

.container .box .caption{
    position: absolute;
    z-index: 60;
    width: 96%;
    margin-left: 5%;
    transform: scale(3);
    text-align: center;
    transition: all 0.15s ease-out;
    color: #fff;
    opacity: 0;
    bottom: 10%;
    text-align: start;
}

.box:hover .caption{
    transform: scale(1) translate(0%, -50%);
    opacity: 1;
}

.box img{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    z-index: 50;
    transition: all 0.15s ease-out
}

.box:hover img{
    height: 135%;
}

.container h3{
    display: flex;
    flex-direction: column;
    height: 85vh;
    justify-content: center;
    padding: 0;
    margin: 10px;
}

/*tredje sektion omkring mig*/

.aboutme{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.aboutmeimg{
    padding: 60px 40px;
    width: 20%;
}

.aboutmeimg img{
    width: 100%;
    filter: contrast(1.3);
}

.aboutmecontent{
    width: 40%;
    display: flex;
    flex-direction: column;
    height: 70%;
}

.aboutheading h1{
    font-size: 36px;
}
.aboutheading h1::after{
    content: "";
    display: block;
    margin-top: 10px;
    height: 4px;
    width: 100px;
    background: #ccc;
    border-radius: 15px;
}

.aboutdesc p{
    font-size: 14px;
    line-height: 30px;
    text-align: justify;
}

/*fjerde sektion med kontakformular*/

.contact {
    background: #F2EDE8;
    height: 100vh;
}
.form{
    width: 40%;
}

.contactheading{
    padding: 40px;
}
.contactheading h1, .contactheading h5 {
    padding: 0;
    margin: 5px;
}

.contactheading h5{
    opacity: 0.8;
    text-transform: uppercase;
}

.contactcontent{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

fieldset{
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

input, textarea{
    width: 100%;
    border: 2px solid #000;
    background: #fff;
    margin: 10px 0 5px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

textarea{
    height: 100px;
}
label{
    font-size: 14px;
}

.button{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
button{
    cursor: pointer;
    width: 25%;
    border: none;
    background: #000;
    color: #fff;
    padding: 10px 30px;
    font-size: 14px;
    border-radius: 4px;
}

.contactimg{
    width: 35%;
    position: relative;
}

.contactimg img{
 width: 100%;

}

.contactimgheading1{
    position: absolute;
    left: 0;
    top: -120px;
    z-index: 10;
}

.contactimgheading1 h1{
    font-size: 50px;
    color: #fff;
}

.contactimgheading2{
    position: absolute;
    right: 6;
    bottom: -120px;
    z-index: 10;
}

.contactimgheading2 h1{
    font-size: 50px;
    color: #fff;
} 

/*Breakpoints begynder*/

@media only screen and (max-width: 540px) {

    body{
        width: vw;
        overflow-x: hidden;
    }

    nav{
        width: 100vw;
        padding: 0;
    }

    /*sektion 1*/
    .eyecatch{
        flex-direction: column;
    }

    .content{
        margin-top: 10%;
    }
    .content, 
    .profileimage{
        width: 100vw;
        height: 50vh;

    }

    /*sektion 2*/
    .container{
        text-align: center;
    }
    .container .box{
        width: 30%;
        padding-bottom: 30%;
        margin-bottom: 20px;
        left: 15%;
    }
    .container .box .caption{
        opacity: 1;
        transform: scale(1);
        bottom: 5%;
    }

    /*sektion 3*/

    .aboutme{
        flex-direction: column;
        text-align: center;
    }

    .aboutmeimg{
        width: 40vw;
        padding: 0;
        margin-top: 5vh;
    }
    .aboutmecontent{
        width: 80vw;
    }
    .aboutheading h1{
        font-size: 20px;
    } 

    /*sektion 4 kontakt*/
    .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contactheading{
        text-align;
    }

    .contactcontent{
        flex-direction: column;
    }
    .form{
        width: 90vw;
    }
    input, 
    textarea {
        width: 95%;
    }
    
    button{
        width: 100%;
    }
    .contactimg{
        display: none;
    }
}