body{
    margin: 0;
    padding: 0;
}

/*headeren */
nav{
    height: 10vh;
    background-color: #F2EDE8;
    width: 96vw;
    position: absolute;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
} 

nav img{
    width: 30%;
    height: 50%;
}

nav h1 a{
    padding: 50px;
    padding-bottom: 30px;
    list-style: none;
    list-style: none;
    text-decoration: none;
}
.nav-links{
    display: flex;
}

.nav-items{
    list-style: none;
    padding: 0 20px;
    font-size: 18px;
    cursor: pointer;
} 